name: CD

concurrency: production

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      version_type:
        type: choice
        required: true
        description: Version
        options:
        - conventional
        - patch
        - minor
        - major

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      CONVENTIONAL_GITHUB_RELEASER_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Fetch all history for all tags and branches
      - uses: actions/setup-node@v3
        with:
          # this line is required for the setup-node action to be able to run the npm publish below.
          registry-url: 'https://registry.npmjs.org'
      - uses: fregante/setup-git-user@v1
      - run: npm install
      - run: npm test
      - run: npx wet-run release ${{ inputs.version_type }} --changelog --github-release
